
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: var(--color-text);
}


/* variable color */


:root {
    --color-primary: #f77f00;
    --color-text: #ffffff;
}


/* CSS article */


.header {
    background-color: var(--color-primary);
}


.wrapper-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header .action {
    display: flex;
    align-items: center;
}


.action .action-icon {
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}


.action-icon:hover {
    border-radius: 50%;
    transform: scale(1.1);
    color: #7400b8;
}


.logo .logo-name {
    font-size: 20px;
    font-weight: 500;
}
.logo-name {
    font-size: 55px;
    font-weight: 1000;
    color: #248277;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.nav .nav-link {
    color: var(--color-text);
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    padding: 5px 20px;
}


.nav .nav-link:hover {
    border-bottom: 1px solid var(--color-text);
    transition: border-bottom 0.2s linear;
}
.icon-cart {
    display: flex;
    align-items: flex-end;
}


.icon-cart span {
    border: 1px solid;
    padding: 0 5px;
    border-radius: 50%;
}


.slider {
    margin: 0px auto;
    position: relative;
    height: 500px;
    overflow: hidden;
    user-select: none;
}
.article-slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}
.item-slider {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}


.item-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon-next {
    position: absolute;
    z-index: 1;
    font-size: 50px;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.566);
    border-radius: 50%;
    cursor: pointer;
}
.icon-next:hover {
    background-color: gray;
}
.icon-left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.icon-right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.sale-flash {
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.wrapper-flash {
    margin: 0 20px;
}


.sale-flash .count-dow {
    background-color: #f780002c;
    color: var(--color-primary);
    display: flex;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    width: 230px;
}


.count-dow .icon-flash svg {
    width: 60px;
    height: 60px;
    color: #ffbe0a;
}


.product-sale {
    display: flex;
    flex: 1;
}


.product-sale .item-product-sale {
    margin: 0 20px;
    width: 100%;
    position: relative;
}


.item-product-sale .product-sale-img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.item-product-sale .product-sale-name {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}
.item-product-sale .product-sale-monney {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    margin-left: 110px;
    text-decoration: none;
}

.icon-heart svg {
    display: none;
}
.icon-heart-active.icon-heart svg {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.heart-active {
    color: rgb(251, 60, 60);
}
img:hover{
    transform: scale(1.2);
}

.wrapper-btn {
    display: none;
}
.wrapper-btn-active.wrapper-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 10px 0;
}


.wrapper-btn .btn-action {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    margin: 0 10px;
    cursor: pointer;
}


.btn-action.btn-action-buy {
    background-color: var(--color-primary) !important;
    color: var(--color-text);
}
.btn-action.btn-action-addCart {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}


.btn-user {
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.overlay {
    display: none;
}
.overlay-active.overlay {
    display: block;
    position: fixed;
    inset: 0;
    z-index: 2;
}


.overlay .module-overlay {
    background-color: rgba(0, 0, 0, 0.334);
    position: absolute;
    inset: 0;
    z-index: 3;
}






.wrapper-product {
    margin-top: 80px;
}


.heading-product {
    color: #000;
    text-align: center;
    font-size: 40px;
}


.heading-flash {
    color: rgb(27, 1, 59);
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 5px;
}


.product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}


.item-product-article {
    width: calc(100% / 4 - 40px);
    margin: 30px 20px;
    position: relative;
}


.item-product img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.name-product-article {
    color: #000;
    text-align: center;
    padding-top: 20px;
}
.monney-product-article {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 40px;
    text-decoration: none;
}
.monney-product {
    padding-top: 5px;
    width: 100px;
    height: 30px;
    border: 2px solid red;
    border-radius: 2px;
    background-color: orangered;
    margin-left: 95px;
    margin-top: 10px;

}
/* Phần chung của footer */
footer {
    background-color: #ec6a13;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  

  
  /* Thông tin liên hệ */
  .footer-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-info p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* Mạng xã hội */
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 30px;
  }
  
  /* Footer bottom */
  .footer-bottom {
    background-color: #ec6a13;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .footer-bottom a {
    color: #333;
  }
  
